@import "./reset.css";
:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
    --app-light-bg: #ffffff;
    --app-yellow:#ffff1a;
    
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  margin-top: 15px;
  display: flex;
  place-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(circle at 50% -20.71%, #ff7600 0, #ff6104 16.67%, 
  #ff4508 33.33%, #f80a0a 50%, #ec000e 66.67%, #e20015 83.33%, 
  #db001d 100%);
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-color: var(--app-dark-bg);
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 40px;
  font-style: italic;
  position: relative;
  top: 10px;
  left: 10px;
  margin-right: 5px;
  color: var(--app-light-bg);
  text-shadow: -2px -2px 1px #000;
}

.showtitle{
  font-family: 'Orbitron', sans-serif;
  color: var(--app-light-bg);
  font-size: 35px;
  text-shadow: -2px -2px 1px #000;
}

.shownumber{
  font-family: 'Orbitron', sans-serif;
  color: var(--app-yellow);
  font-size: 35px;
  text-shadow: -2px -2px 1px #000;
}

.show-words, .showUserword{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-color: #1a1d28;
  padding: 10px;
  margin: 15px;
  color:var(--app-light-bg);
  background-color:var(--app-dark-bg);
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-color: var(--app-light-bg);
  border-radius: 5px;
}

input[type="text"] {
  height: 48px;
  padding: 15px;
  color:var(--app-light-bg);
  background-color: rgba(9, 2, 2, 0.1);
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  margin: 15px;
}

.blackboard {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.score, .typeword, .inputypeword, .timer {
  text-align: center;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-color: var(--app-light-bg);
  margin: 15px;
  background-color: #000;
  border-radius: 10px;
}

button {
  background-color: rgb(62, 226, 44);
  font-weight: 300;
  font-size: 25px;
  width: max-content;
  height: 55px;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
}